//colors
$white: #FFF;
$platinum: #e6e7e7;
$light_gray: #d1d1d1;
$fuzzy_wuzzy: #e56353;
$ruddy_pink: #d76c69;
$spanish_pink: #ecbcba;
$eerie_black: #121619;
$raisin_black: #222323;
$nickel: #6c6e70;

//type
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//typesize
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

